# Root .gitignore
laravel-api-app/node_modules/
laravel-api-app/vendor/
laravel-api-app/.env
laravel-api-app/public/storage
laravel-api-app/storage/*.key
laravel-api-app/storage/framework/sessions/*
laravel-api-app/storage/framework/views/*
laravel-api-app/storage/framework/cache/*
laravel-api-app/storage/logs/*

react-app/node_modules/
react-app/dist/
react-app/dist-ssr/
react-app/*.local

# OS files
.DS_Store
Thumbs.db
~$*.docx
